__pycache__/
*.py[cod]
*.egg-info/
dist/
release_dist/
build/
.pytest_cache/
.venv/
.venv*/
venv/
*.csv
*.CSV
*.xlsx
*.xls
*.xlsm
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.bmp
*.gif
*.mts
*.npz
*.npy
*.zip
data/
validation-data/
validation_data/
literature_sources/
.DS_Store
.ipynb_checkpoints/
